In [3]:
primes=[2,3,5,7,11]
print(type(primes))

<class 'list'>

In [4]:
primes=(2,3,5,7,11)
print(type(primes))

<class 'tuple'>

In [5]:
print(primes[0]) #第0筆是什麼數字
print(primes[1])
print(primes[-1])
print(primes[-2])

2
3
11
7

In [6]:
print(primes[::2])

(2, 5, 11)

In [7]:
primes_list=[2,3,5,7,11]
primes_list[-1]=13 #最後一個換13
print(primes_list)

[2, 3, 5, 7, 13]

In [8]:
print(len(primes_list))

5

In [10]:
#insert制訂新放入的地方
primes_list.insert(-1,11) #長度更動
print(primes_list)

[2, 3, 5, 7, 11, 11, 13]

In [11]:
primes_list.pop()
print(primes_list)

[2, 3, 5, 7, 11, 11]

In [12]:
print(primes)
print(type(primes))

(2, 3, 5, 7, 11)
<class 'tuple'>

In [13]:
primes[-1]=13

TypeError: ignored

In [14]:
primes.append(13) #無append

AttributeError: ignored

In [15]:
x= 0.25
print(type(x))
print(x.as_integer_ratio())#1是分子，4是分母
print (type(x.as_integer_ratio()))

<class 'float'>
(1, 4)
<class 'tuple'>

In [16]:
def where_are_you_from(city,country):
  return city,country

print(where_are_you_from("Taipei","Taiwan"))
print(type(where_are_you_from("Taipei","Taiwan")))

('Taipei', 'Taiwan')
<class 'tuple'>

In [18]:
my_city,my_country=where_are_you_from("Taipei","Taiwan")
print(my_city)
print(my_country)

Taipei
Taiwan

In [19]:
numerator , denominator=x.as_integer_ratio()
print(numerator)
print(denominator)

1
4

In [20]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}
print(the_avengers)
print(type(the_avengers))

{'Iron Man': 'Tony Stark', 'Captain America': 'Steve Rogers', 'Hulk': 'Bruce Banner', 'Thor': 'Thor', 'Black Widow': 'Natasha Romanoff', 'Hawkeye': 'Clint Barton'}
<class 'dict'>

In [0]:
#獲取 dict 的標籤與資料
#keys()：取得標籤
#values()：取得資料
#items()：同時取得標籤和資料

In [24]:
print(the_avengers.keys())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])

In [25]:
print(the_avengers.values())

dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])

In [26]:
print(the_avengers.items())

dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [27]:
print(the_avengers["Iron Man"])
print(the_avengers["Captain America"])
print(the_avengers["Hulk"])
print(the_avengers["Thor"])
print(the_avengers["Black Widow"])
print(the_avengers["Hawkeye"])

Tony Stark
Steve Rogers
Bruce Banner
Thor
Natasha Romanoff
Clint Barton

In [28]:
living_area=input("請輸入您的居住縣市:")
print(living_area)
print("{}每人每月最低生活費為{:,}".format(living_area,17005))

請輸入您的居住縣市:台北市
台北市
台北市每人每月最低生活費為17,005

In [29]:
living_area=input("請輸入您的居住縣市:")
living_cost=None
if living_area=="臺北市":
  living_cost=17005
elif living_area=="新北市":
  living_cost=15500
elif living_area=="桃園市":
  living_cost=15281
elif living_area=="台中市":
  living_cost=14596
elif living_area=="台南市":
  living_cost=12388
elif living_area=="高雄市":
  living_cost=13099
elif living_area=="非六都之縣市":
  living_cost=12388
elif living_area=="金門縣連江縣":
  living_cost=11648
if living_cost is None:
  print("請輸入居住縣市")
else:
  print("請重新輸入居住城市，每人每月最低生活費為{}".format(living_cost))
print("{}每人每月最低生活費為{:,}".format(living_area,17005))

請輸入您的居住縣市:臺北市
請重新輸入居住城市，每人每月最低生活費為17005
臺北市每人每月最低生活費為17,005

In [30]:
living_cost_dict= {
    "臺北市":17005,
    "新北市":15500,
    "桃園市":15281,
    "台中市":14596,
    "台南市":12388,
    "高雄市":13009,
    "非六都之縣市":12388,
    "金門縣連江縣":11648
}
living_area=input("請輸入你的居住城市:")
try:
  living_cost=living_cost_dict[living_area]
  print("{}每人每月最低生活費為{:,}".format(living_area,living_cost))
except KeyError:
   print("請輸入居住縣市")

請輸入你的居住城市:臺北市
臺北市每人每月最低生活費為17,005

In [31]:
#@title 哈哈
living_area = '\u81FA\u5317\u5E02' #@param ['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市', '非六都之縣市', '金門縣連江縣']
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

臺北市的每人每月最低生活費為17,005

In [32]:
primes=(2,3,5,7,11,13,13,11,11,11,2,2,2)
print(primes)

(2, 3, 5, 7, 11, 13, 13, 11, 11, 11, 2, 2, 2)

In [33]:
primes_list = [2, 3, 3, 3, 5, 5]
print(primes_list)

[2, 3, 3, 3, 5, 5]

In [35]:
set(primes_list)

{2, 3, 5}

In [36]:
primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
print(primes)

{2, 3, 5, 7, 11, 13}

In [37]:
primes={2,3,5,7,11,13}
odds={1,3,5,7,9,11,13}
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [38]:
#交集
primes&odds

{3, 5, 7, 11, 13}

In [40]:
# .intersection
primes.intersection(odds)

{3, 5, 7, 11, 13}

In [41]:
# 聯集
primes | odds

{1, 2, 3, 5, 7, 9, 11, 13}

In [42]:
#.union
primes.union(odds)

{1, 2, 3, 5, 7, 9, 11, 13}

In [45]:
#差異
print(primes - odds)
print(odds - primes)

{2}
{1, 9}

In [47]:
#.difference
print(primes.difference(odds))
print(odds.difference(primes))

{2}
{1, 9}

In [50]:
(primes - odds) | (odds - primes)

{1, 2, 9}

In [51]:
#對稱差異
primes^odds

{1, 2, 9}

In [52]:
#.symmetric_difference
print(primes.symmetric_difference(odds))

{1, 2, 9}

In [55]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [53]:
I=iter(primes)
next (I)

2

In [54]:
next(I)

3

In [56]:
next(I)

5

In [57]:
next(I)

7

In [58]:
next(I)
next(I)

13

In [59]:
next(I)

StopIteration: ignored

In [60]:
primes[0]

TypeError: ignored

In [61]:
import requests

today_json = requests.get("https://data.nba.net/10s/prod/v1/today.json").json()
print(type(today_json))

<class 'dict'>

In [62]:
today_json.keys()

dict_keys(['_internal', 'teamSitesOnly', 'seasonScheduleYear', 'showPlayoffsClinch', 'links'])

In [63]:
print(type(today_json['links']))

<class 'dict'>

In [64]:
today_json['links']['leagueRosterPlayers']

'/prod/v1/2019/players.json'

In [65]:
primes_list = [2, 3, 5, 7, 11]
I = iter(primes_list)
next(I)

2

In [66]:
primes_tuple = (2, 3, 5, 7, 11)
I = iter(primes_tuple)
next(I)

2

In [67]:
I = iter(living_cost_dict.keys())
next(I)

'臺北市'

In [68]:
I = iter(living_cost_dict.values())
next(I)

17005

In [69]:
I = iter(living_cost_dict.items())
next(I)

('臺北市', 17005)

In [70]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [71]:
I = iter(5566)

TypeError: ignored

In [72]:
I = iter(5566.0)

TypeError: ignored

In [73]:
I = iter(False)

TypeError: ignored

In [74]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [75]:
for i in range(1, 101, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100