<a href="https://colab.research.google.com/github/polkm12123/Introduction-to-Data-Science/blob/master/week12_A106260073%E5%BC%B5%E9%9B%85%E9%9B%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#iterables= in python
primes_list=[2,3,5,7,11]
primes_tuple=(2,3,5,7,11)
weekdays_dict={
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5
}
primes_set={2,3,5,7,11}

In [4]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [5]:
I=iter(primes_list)
next(I)

2

In [6]:
I=iter(primes_tuple)
next(I)

2

In [7]:
I=iter(weekdays_dict)
next(I)

'Monday'

In [8]:
I = iter(weekdays_dict.keys())
next(I)

'Monday'

In [11]:
I=iter(weekdays_dict.values())
next(I)

1

In [12]:
I=iter(weekdays_dict.items()) 
next(I)

('Monday', 1)

In [13]:
I=iter(primes_set)
next(I)

2

In [14]:
may4th='Luke,use the Force!'#可疊帶物件
I=iter(may4th)
next(I)

'L'

In [15]:
iter(5566)
iter(True)
iter(False)

TypeError: ignored

In [16]:
for i in may4th: #從....(寫for迴圈)
  print(i)

L
u
k
e
,
u
s
e

t
h
e

F
o
r
c
e
!

In [17]:
may4th[0]
may4th[len(may4th)-1]

'!'

In [18]:
i=0
while i<len(may4th):
  print(may4th[i])
  i+=1

L
u
k
e
,
u
s
e

t
h
e

F
o
r
c
e
!

In [0]:
#我們說過的迴圈三要素：start、stop、step 去哪裡了呢？
#在可迭代物件中就具備了迴圈三要素：

#start：可迭代物件中的第 0 項
#stop：可迭代物件中的第 -1 項
#step：可迭代物件中每個物件的間隔

In [20]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [21]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [22]:
print(list(range(0,100,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [23]:
x=int(input("請輸入起始正數數:"))
y=int(input("請輸入終止正數數:"))
odds=[]#空的list
for i in range(x,y+1):
  mod=i % 2# 餘數
  if mod==1:
    odds.append(i)
print(odds)

請輸入起始正數數:56
請輸入終止正數數:100
[57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [24]:
print(len(odds)) #記數
print(sum(odds)) #加總

22
1716

In [25]:
empty_list=[]
print(empty_list)
print(len(empty_list))

[]
0

In [26]:
x=int(input('請輸入一個正整數:'))
divisors=[]
for i in range(1,x+1):
  if x%i==0:
    divisors.append(i)
print(divisors)#因數分解
print(len(divisors)==2)

請輸入一個正整數:56
[1, 2, 4, 7, 8, 14, 28, 56]
False

In [27]:
x=int(input('請輸入一個正整數:'))
divisors=[]
for i in range(1,x+1):
  if x%i==0:
    divisors.append(i)
print(divisors)#因數分解
n_divisors=len(divisors)
if n_divisors ==2:
  print("{}是質數.format(x)")
else:
  print("{}不是質數.format(x)")

請輸入一個正整數:56
[1, 2, 4, 7, 8, 14, 28, 56]
{}不是質數.format(x)

In [28]:
#random 產生100個隨機數
import random
random.randint(1,1000)
#random 產生100個隨機數
random_intergers=[]
for i in range(100):
  rand_int=random.randint(1,1000)
  random_intergers.append(rand_int)
print(random_intergers)
print(len(random_intergers))
#找出第一大與第一小的數字
print(max(random_intergers))
print(min(random_intergers))
#找出第2大與第2小的數字
#set()去除重複
rand_int_unique=set(random_intergers)
rand_int_unique_list=list(rand_int_unique)
print(rand_int_unique)
rand_int_unique_list.sort()
print(rand_int_unique_list[1]) #second min
print(rand_int_unique_list[-2])

[649, 217, 87, 16, 334, 344, 255, 48, 955, 720, 738, 265, 985, 189, 989, 402, 931, 105, 427, 798, 367, 369, 510, 786, 65, 697, 517, 377, 974, 185, 558, 604, 92, 289, 997, 985, 614, 649, 454, 120, 398, 941, 351, 56, 717, 29, 862, 154, 551, 401, 679, 78, 547, 874, 564, 722, 601, 263, 654, 70, 10, 293, 548, 954, 927, 883, 780, 51, 195, 91, 879, 38, 786, 421, 82, 628, 91, 816, 350, 42, 24, 514, 181, 551, 531, 108, 216, 227, 56, 747, 894, 942, 119, 576, 234, 275, 590, 522, 109, 264]
100
997
10
{514, 517, 10, 522, 16, 531, 24, 29, 547, 548, 38, 551, 42, 558, 48, 51, 564, 56, 576, 65, 70, 78, 590, 82, 87, 601, 91, 604, 92, 614, 105, 108, 109, 628, 119, 120, 649, 654, 154, 679, 181, 697, 185, 189, 195, 717, 720, 722, 216, 217, 738, 227, 234, 747, 255, 263, 264, 265, 780, 786, 275, 798, 289, 293, 816, 334, 344, 862, 351, 350, 874, 367, 879, 369, 883, 377, 894, 398, 401, 402, 927, 931, 421, 427, 941, 942, 954, 955, 454, 974, 985, 989, 997, 510}
16
989

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
for i in range(10):
  print(i**2)

0
1
4
9
16
25
36
49
64
81

In [31]:
squared=[]
for i in range(10):
  squared.append(i**2)
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
squared=[i**2 for i in range(10)]
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
odds_squared=[]
for i in range(10):
  if i%2==1:
    odds_squared.append(i**2)
print(odds_squared)

[1, 9, 25, 49, 81]

In [34]:
odds_squared=[i**2 for i in range(10) if i%2==1]
print(odds_squared)

[1, 9, 25, 49, 81]

In [35]:
random_intergers=[random.randint(1,100) for i in range(10)]
print(random_intergers)

[14, 70, 20, 49, 8, 63, 82, 32, 70, 65]

In [36]:
random_intergers=[random.randint(1,100) for i in range(20)]
is_odds_ints=[]
for i in random_intergers:
  if i % 2==1:
    is_odds_ints.append(True)
  else:
    is_odds_ints.append(False)
print(random_intergers)
print(is_odds_ints)

[20, 84, 93, 68, 21, 94, 14, 93, 9, 34, 26, 32, 80, 28, 9, 99, 86, 37, 25, 28]
[False, False, True, False, True, False, False, True, True, False, False, False, False, False, True, True, False, True, True, False]

In [37]:
#list Comprehension
random_intergers=[random.randint(1,100) for i in range(20)]
is_odds_ints=[True if i %2==1 else False  for i in random_intergers]
print(random_intergers)
print(is_odds_ints)

[1, 90, 58, 51, 93, 39, 39, 63, 3, 74, 54, 51, 80, 6, 99, 25, 52, 98, 5, 84]
[True, False, False, True, True, True, True, True, True, False, False, True, False, False, True, True, False, False, True, False]

In [38]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable[, start]) -> iterator for index, value of iterable
 |
 |  Return an enumerate object.  iterable must be another object that supports
 |  iteration.  The enumerate object yields pairs containing a count (from
 |  start, which defaults to zero) and a value yielded by the iterable argument.
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [39]:
weekdays=['Monday','Tuesday','Wednesday','Thursday','Friday']
for i, wd in enumerate(weekdays):
  print("{}:星期{}".format(wd,i+1))

Monday:星期1
Tuesday:星期2
Wednesday:星期3
Thursday:星期4
Friday:星期5

In [40]:
avengers=['The Avengers','Avengers: Age of Ultron','Avengers: Infinity War','Avengers: Endgame']
for idx,movie in enumerate(avengers):
  print("{}:上映順序{}".format(idx+1,movie))

1:上映順序The Avengers
2:上映順序Avengers: Age of Ultron
3:上映順序Avengers: Infinity War
4:上映順序Avengers: Endgame

In [41]:
years=[2012,2015,2018,2019]
for year, movie in zip(years,avengers):
  print("{}上映的年份是{}".format(movie,year))

The Avengers上映的年份是2012
Avengers: Age of Ultron上映的年份是2015
Avengers: Infinity War上映的年份是2018
Avengers: Endgame上映的年份是2019

In [42]:
import pandas as pd

covid19_ts = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
covid19_ts_tw = covid19_ts[covid19_ts['Country/Region'] == 'Taiwan*']
cumulative_confirmed_tw = list(covid19_ts_tw.loc[:,'1/22/20':'5/21/20'].values.ravel())
dates = list(covid19_ts_tw.loc[:, '1/22/20':'5/21/20'].columns)
print(dates)
print(len(dates))
print(cumulative_confirmed_tw)
print(len(cumulative_confirmed_tw))
# 在這 121 天中，哪些"日期"是零新增確診?

['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20', '4/28/20', '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20', '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20']
121
[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440]
121

In [43]:
cumulative_confirmed_tw_lag = [cumulative_confirmed_tw[i] for i in range(len(cumulative_confirmed_tw)-1)]
cumulative_confirmed_tw_lag.insert(0, 0)
print(cumulative_confirmed_tw_lag)
print(len(cumulative_confirmed_tw_lag))

[0, 1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440]
121